echo hello world
echo 'it''s' '$x'
x=(a b c); echo $x $#x $x(2) $"x
x=(a b c d); echo $x(2-3) $x(3-)
x=foo; echo $x.c pre^$x a^(b c)
x=b; echo a$x^c
x=(1 2); y=(a b); echo $x^$y
echo a=b
if(false) echo no; if not echo yes
if(true) echo yes; if not echo no
for(i in 1 2 3) echo $i
x=(a b c); while(! ~ $#x 0) { echo $x(1); x=$x(2-) }
switch(b){ case a; echo A; case b c; echo BC; case *; echo other }
switch(zz){ case a; echo A; case *; echo other }
if(~ foo f*) echo match
if(! ~ foo b*) echo nomatch
true && echo t; false || echo f; false && echo no
false; echo $status
exitwith 3 | true; echo $status
if(true | true) echo all; if(false | true) echo no
fn greet { echo hi $1 $#* }; greet bob jo
fn show { echo $x }; x=1; x=2 show; show
fn f { echo in f }; fn f; f; echo $status
x=`{echo a b}; echo $#x
if(true) { y=`{echo z}; echo $y }
x=`:{echo a:b:c}; echo $x(2)
echo `{for(i in a b) echo $i}
fn c { echo $* }; c x `{for(i in a b) echo $i}
echo data > f; cat < f
echo more >> f; cat < f
{ echo x; echo y } > g; cat < g
echo one two three | wc
echo a b | cat | wc
echo oops >[1=2]; echo fine
echo data > f; cat < f | wc
echo a b c | wc > h; cat < h
warn oops >[2=1] | wc
echo hi > f | wc; cat < f
echo x | echo `{echo a b | wc}
echo *.c
echo '*.c' z* ?.h
echo dir/*.c
x=*.c; echo $#x
for(f in *.c) echo $f
echo `{for(f in dir/*.c) echo $f}
x='*.c'; echo $x; for(f in '*.c') echo $f
echo 'echo from dot' > s.rc
. s.rc
eval echo evaluated
if(
for(i in a b) {
echo )
echo 'unterminated
ifs=() { x=`{echo a b}; echo $#x }
echo $0 $#0
x=() ; echo a^$x
fn f { echo }; f | wc
echo before; exit 'it failed'; echo after
echo $status
cat < nosuchfile
x=global; y=(a b); fn f { exportx }; x=local f
exportx
for(i in 1 2 3 4 5 6 7 8 9 10) { x=`{echo $i $i $i}; y=$x^-; z=$y(1) }; echo $z
x=`{echo a b c d e f g}; y=($x $x $x); fn f { echo $y }; f > /dev/null
echo still
echo a(b c)
not echo x
in
y=(a b); echo $$y
y=(a b); $y=1
x=1; echo for$x
echo for in not
x=(a b); if(~ $x 'a b') echo joined
if(~ () '') echo empty
if(! ~ ()) echo none
x=(a b); switch($x){case a; echo A; case 'a b'; echo AB}
switch(){case ''; echo empty}
switch(a){echo x; case a; echo A}
switch(a){case a; echo A; 'case' b; echo B}
if not echo x
if(false) echo a; echo mid; if not echo b
if(false) echo a; if not echo b; if not echo c
x=y; $x=hello; echo $y
false; while(){ echo once; exit }
x=(); y=(); echo a $x^$y b
x=(); echo a^$x
x=(1 2 3); y=(a b); echo $x^$y
x=(a b c); echo $x(0-2) . $x(2x) . $x(3-1) . $x(2-9)
fn f { echo $1(1) $#1 $#3 }; f a b
ifs=(: ';'); x=`{echo 'a:b;c d'}; echo $#x
x=(); $x
exitwith '' | exitwith 3; echo $status
exitwith 3 | exitwith ''; echo $status
fn t { status=('' no) }; if(t) echo first
fn f { echo F }; f=1 f
fn g { echo G }; g &
echo *
echo */one.c
echo */nosuch
if(~ é ?) echo rune
if(~ b [c-a]) echo reversed
if(~ é [à-ï]) echo class
echo data > f; { cat; cat } < f
cat < nosuchfile
echo )
echo x >[10] f
flag z; echo $status
flag
echo 'echo $0 $* $#*' > d.rc
. d.rc a b
path=(/x .); . d.rc z
. -q nofile; echo q
. nofile
.
echo 'echo first' > bad.rc; echo 'echo )' >> bad.rc
. bad.rc
eval
eval 'y=5'; echo $y
eval 'echo )'
. -i '#d/0'
. '#d/0'
